:root {
    font-size: 62.5%;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 1.6rem;
}

/* ******************************************** */

/* PRIMARY COLORS */

.color {
    padding: 5rem;
    text-align: center;
    color: whitesmoke
}

.primary {
    background-color: rgb(44, 155, 211);
} 

.secondary {
    background-color: rgb(211, 100, 44);
}

/* GRAYS */

.gray {
    text-align: center;
    padding: 3rem;
}

.darkest {
    background-color: rgb(38, 38, 39);
}

.dark {
    background-color: rgb(59, 59, 59);
}

.medium {
    background-color: rgb(99, 99, 99);
}

.light {
    background-color: rgb(129, 129, 129);
}

.lightest {
    background-color: rgb(204, 201, 201);
}

/* HEADINGS */

h1 {
    color: rgb(44, 155, 211)
}

h2 {
    color: rgba(44, 155, 211, 0.75)
}

h3 {
    color: rgba(44, 155, 211, 0.63);
}

a {
    color: rgb(211, 100, 44);
    text-decoration: none;
}


/* CARD */

.card-main {
    margin: 3rem auto;
    width: 35rem;
    background-color: rgba(25, 115, 160, 0.842);
    padding: 1.5rem;
    border-radius: 1rem;
}

.card-main-content h4 {
    color: rgb(204, 201, 201);
    font-size: 2rem;
}

.card-main-content p {
    color: rgb(38, 38, 39);
    line-height: 1.4;
}

.btn {
    text-transform: uppercase;
    background-color: rgb(204, 201, 201);
    padding: 1rem 4rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    /* display: block; */
    width: 35%;
    text-align: center;
}
